.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.color{
    background-color: rgb(255, 0, 64) !important;
}

.canto{
    margin-left: 750px !important;
}